@media (max-width: 1200px) {
  .menu {
    &_item {
      padding-right: 20px;
    }
    &_link {
      font-size: 13px;
    }
  }
  .promo {
    &_header {
      font-size: 50px;
    }
  }
  .icon_with_text {
    .icon {
      width: 105px;
      height: 105px;
    }
    .descr_text {
      font-size: 12px;
    }
  }
  .choice {
    .black {
      .choice_decsr {
        display: none;
      }
    }
  }
  footer {
    .footer_nav {
      .footer_nav_items {
        font-size: 11px;
      }
    }
    .footer_nav_about {
      .footer_nav_items_about {
        font-size: 7px;
      }
    }
    .footer_nav_store {
      display: flex;
      justify-content: end;
      img {
        width: 75%;
      }
    }
  }
}
@media (max-width: 991px) {
  .menu {
    &_item {
      padding-right: 8px;
    }
    &_link {
      font-size: 10px;
    }
  }
  .subheader {
    .subheader_logo {
      img {
        width: 100%;
      }
    }
    .subheader_official {
      font-size: 11px;
    }
    .subheader_phone {
      font-size: 18px;
    }
    .subheader_btn {
      margin-top: 21px;
      width: 100%;
      height: 40px;
    }
  }
  .promo {
    .promo_header {
      font-size: 40px;
    }
    .promo_subheader {
      font-size: 30px;
    }
  }
  .icon_with_text {
    flex-direction: column;
    align-items: center;
    .icon {
      align-self: unset;
      margin-right: 0;
      margin-top: 0;
    }
    .descr_header {
      margin-top: 20px;
    }
  }
  .mobile {
    .title {
      font-size: 30px;
    }
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    transition: 0.6s all;
    &.menu_active {
      left: 0;
    }
    .menu_item {
      border: none;
      padding-right: 0;
      margin: 10px 0;
    }
    .menu_link {
      font-size: 20px;
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      transition: 0.5s all;
    }
    &.hamburger_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader {
    .subheader_phone {
      display: block;
      margin-top: 10px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
    .subheader_btn {
      display: block;

      width: 200px;
      height: 40px;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .promo {
    .promo_header {
      line-height: 45px;
    }
  }
}
@media (max-width: 575px) {
  body {
    padding-top: 30px;
  }
  nav {
    height: 30px;
  }
  .subheader {
    height: 60px;
    .subheader_official {
      display: none;
    }
    .subheader_logo {
      margin-top: 16px;
    }
    .subheader_phone {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 11px;
    }
    .subheader_btn {
      width: 110px;
      height: 22px;
      font-size: 10px;
      margin-top: 7px;
    }
  }
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
    .promo_descr {
      display: none;
    }
    .promo_header {
      font-size: 30px;
      padding: 0 24px;
      line-height: 35px;
    }
    .promo_subheader {
      font-size: 20px;
      margin-top: 33px;
      padding: 0 10px;
      line-height: 30px;
    }
    .promo_btn {
      width: 210px;
      height: 50px;
      margin-top: 72px;
      font-size: 16px;
      &:hover {
        background-image: linear-gradient(to top, $primary-color 0%, #4ce2ff 100%);
      }
    }
  }
  .menu {
    width: 85%;
    .menu_item {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      .menu_link {
        display: block;
      }
    }
  }
  .benefits {
    padding: 22px 0 36px 0;
    .btn_with_header {
      padding-top: 0;
    }
    .title {
      font-size: 16px;
      margin-top: 15px;
      padding-top: 0;
      line-height: 16px;
      margin-bottom: 0;
    }
    .icon_with_text {
      margin-top: 26px;
    }
    .icon {
      width: 100px;
      height: 100px;
    }
    .descr_header {
      width: 100%;
      margin-top: 27px;
      font-size: 16px;
    }
  }
  .mobile {
    padding: 22px 0 43px 0;
    .title {
      font-size: 16px;
      margin-top: 15px;
      padding-top: 0;
      line-height: 16px;
      margin-bottom: 0;
    }
    .subtitle {
      margin-top: 11px;
      color: #222222;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
    .mobile_item {
      width: 290px;
      height: 254px;
    }
    .mobile_item_subtitle {
      font-size: 18px;
    }
  }
  .choice {
    .black {
      padding-top: 25px;
      min-height: 390px;
      img {
        bottom: unset;
        top: 84px;
      }
      .title {
        display: none;
      }
      .subtitle {
        display: none;
      }
      .choice_decsr {
        display: block;
        color: #ffffff;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 236px 20px 33px 20px;
      }
    }
    .descr_other_color {
      display: none;
    }
    .down_white {
      display: none;
    }
  }
  .require {
    padding: 25px 0;
    margin-bottom: 0;
    .title {
      font-size: 16px;
      padding-top: 15px;
      margin-bottom: 0;
    }
    .require_title {
      font-size: 16px;
      padding-top: 22px;
    }
    .require_block {
      margin: 0;
    }
  }
  .whole_world {
    padding-top: 25px;
    min-height: 360px;
    .title {
      font-size: 16px;
      padding-top: 15px;
    }
    .subtitle {
      font-size: 14px;
      margin-top: 10px;
    }
    .check_cities {
      padding-bottom: 30px;
    }
  }
  footer {
    .footer_nav_store {
      img {
        width: 260px;
        height: 24px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      &.footer_nav_store_md {
        display: none;
      }
    }
    .main_color_line {
      margin: 0;
    }
    .contacts > div {
      width: 100%;
    }
    .footer_nav {
      padding: 22px 0 10px 0;
      .footer_nav_items {
        font-size: 8px;
      }
    }
    .footer_nav_about {
      .footer_nav_items_about {
        font-size: 4px;
      }
    }
    .language {
      font-size: 8px;
    }
    .social_networks {
      &.social_networks-md {
        display: none;
      }
      &.social_networks-sm {
        display: flex;
        justify-content: center;
      }
    }
    .contacts {
      padding: 15px 23px 20px 23px;
    }
  }
}
